<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.matuoka.aira.original">

    <application
        android:name=".RealmMemoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="de"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.IdeaListActivity"></activity>
        <activity android:name=".activity.ChoiceGroupActivity" />
        <activity android:name=".activity.MakeIdeaActivity" />
        <activity android:name=".activity.GroupListActivity" />
        <activity android:name=".list_item" />
        <activity android:name=".activity.WordListActivity" />
        <activity android:name=".activity.StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.IdeaActivity" />
    </application>

</manifest>